:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --dark-grey: #575656;
  --light-grey: #d3d3d3;
  --opal: #a3ccc3;
  --indigo: #23394b;
  --cultured: #f5f5fa;
  --onyx: #34323d;
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Rubik Distressed", cursive;
  --font-tertiary: "Jua", sans-serif;
  --font-forth: "Trykker", serif;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--font-primary);
}

ul {
  list-style: circle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
